* {
  border-radius: 0 !important;
}



.nav .container {
  padding-top: 6px;
  padding-bottom: 3px;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
  background-color: #94D79F;
  color: #ffffff;
}

.navbar
{
  height: 52px;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  margin-bottom: 0px;

}

.navbar-brand
{
  padding: 12px 30px;
}

.nav a {
  color: #256c90;
  font-size: 12px;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;

}

.nav .logo
{
  display: inline;
}

.jumbotron {
  background-image:url('/view/images/jumb-img.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;

}

.jumbotron .container {
  position: relative;
  top: 100px;
  margin: 0 auto;
}

.jumbotron h1 {
  color: #fff; //256c90
  font-size: 64px;  
  font-family: 'Open-Sans', sans-serif;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.jumbotron p {
  font-size: 20px;
  color: #8d8d8d;
  font-weight: 100px;

}


.jumbotron a {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.myButton {
  background-color:#44c767;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:22px;
  padding:7px 24px;
  text-decoration:none;
  margin: 0 auto;
}

.myButtonDonate {
  background-color:#a7d39e;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:22px;
  padding:7px 24px;
  text-decoration:none;
  margin: 15px 15px auto auto;
}

.myButtonDonate:hover {
  background-color:#a1d982;
  text-decoration: none;
}

.myButton:hover {
  background-color:#a1d982;
  text-decoration: none;
}
.myButton:active {
  position:relative;
  top:1px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #7198ac;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
    font-weight: bold;
}

.neighborhood-guides p {
    color: #949494;
    font-size: 15px;
    margin-bottom: 13px;
}


.centertitle
{
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: #efefef;
  line-height: 90px;
  
}

.centertitle h1
{
  font-family: 'Open-Sans', sans-serif;
  font-weight: normal;
  font-size: 25px; 
  vertical-align: middle;
  display: inline-block;
  line-height: normal;

}

.container-top
{
  margin-bottom: 15px;
  margin-top: 15px;
}

.container-top h1
{
  color: #7BE513;
}

.form-control:focus {
  border-color: #a2a2a2;
  box-shadow: inset 0 1px 1px rgba(154, 154, 154, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}










